@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKew7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v28/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfJQ.ttf) format('truetype');
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cont {
  font-family: "Comfortaa", cursive;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.cont h3 {
  font-family: "Ubuntu", sans-serif;
}
.content {
  margin-right: 500px;
  padding: 30px 10px;
  border-radius: 2px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
  width: 300px;
}
/* Add some content at the bottom of the video/page */
/* Style the button used to pause/play the video */
